body {
  background-color: rgb(255,0,0);
}
.header {
  border-radius: 10px; background-color: rgba(255,255,255,.9);
}
h1 {
  font-weight: normal; text-align: center; font-family: helvetica;
  border-style: none; margin: 0; color: black;
}
h5 {
  font-weight: normal; text-align: center; font-family: helvetica;
  border-style: none; margin: 0; color: black;
}
.content-area {
  transition: all linear 1s;

  border-radius: 10px; background-color: transparent;
  border-color: lightgray; border-style: solid;
  border-width: thin; margin-top: 5px; align-content: center;
  text-align: center;
}
.animate-show.ng-hide-add {
  transition: all linear 5s;
}
.animate-show {
  height: auto; width: 100%; position: relative;
  background-color: rgba(255,255,255,.75);
  top: 0px;
}
.animate-show.ng-hide {
  height: 0; width: 0; background-color: transparent; top: -200px;
}
